@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap');

body {
  margin: 0;
  font-family: 'mukta';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.slider {
  @apply appearance-none cursor-pointer w-168 h-4 rounded-full shadow-[inset_0_0px_4px_rgba(0,0,0,0.4)] outline-none opacity-70 transition-opacity;

  &::-webkit-slider-thumb {
    @apply appearance-none w-4 h-4 rounded-full bg-gray-700 cursor-pointer;
  }

  &::-moz-range-thumb {
    @apply w-4 h-4 rounded-full bg-gray-700 cursor-pointer;
  }
}