@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'mukta', arial;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.p-dropdown .p-dropdown-label.p-placeholder,
.p-multiselect .p-multiselect-label.p-placeholder {
  color: rgb(55 65 81);
  font-weight: normal;
}

.p-dropdown:hover,
.p-multiselect:hover {
  border: 2px solid var(--green-300) !important;
}

.p-dropdown:not(.p-disabled).p-focus,
.p-multiselect:not(.p-disabled).p-focus {
  border: 2px solid var(--green-300);
  box-shadow: 0 0 0 0.1rem var(--green-200);
}

.p-dropdown-panel .p-dropdown-items .p-dropdown-item.p-highlight,
.p-multiselect-panel .p-multiselect-items .p-multiselect-item.p-highlight {
  background: var(--green-100);
}
.p-multiselect-panel .p-multiselect-items .p-multiselect-item:focus {
  box-shadow: inset 0 0 0 0.15rem var(--green-200);
}

.p-checkbox .p-checkbox-box.p-highlight {
  border-color: var(--green-400);
  background: var(--green-500);
}
.p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box.p-highlight:hover {
  border-color: var(--green-600);
  background: var(--green-700);
}

.enabled {
  top: 65% !important;
}

.min-max-inputs::-webkit-inner-spin-button,
.min-max-inputs::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@layer utilities {
  .py-auto {
    padding-top: auto;
    padding-bottom: auto;
  }
}

@keyframes preenchimento {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

@keyframes opacity_in {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.4;
  }
}

@keyframes pop_up {
  0% {
    transform: scale(0.97);
  }
  60% {
    transform: scale(1.01);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes slide_left {
  0% {
    opacity: 1;
    transform: translateX(0%);
    transform: translateX(0) translateY(0) translateZ(0);
    z-index: 50;
  }
  100% {
    opacity: 0.4;
    transform: translateX(-100%);
    transform: translateX(-25px) translateY(-12.5px) translateZ(50px);
    z-index: 40;
  }
}

@keyframes come_in_shortest {
  0% {
    opacity: 0.4;
    transform: translateX(20px) translateY(25px) translateZ(50px);
    z-index: 40;
  }
  100% {
    opacity: 1;
    transform: translateX(0) translateY(0) translateZ(0);
    z-index: 50;
  }
}

@keyframes come_in_shorter {
  0% {
    opacity: 0.4;
    transform: translateX(50px) translateY(25px) translateZ(50px);
    z-index: 40;
  }
  100% {
    opacity: 1;
    transform: translateX(0) translateY(0) translateZ(0);
    z-index: 50;
  }
}

@keyframes come_in {
  0% {
    opacity: 0.4;
    transform: translateX(200px) translateY(25px) translateZ(50px);
    z-index: 40;
  }
  100% {
    opacity: 1;
    transform: translateX(0) translateY(0) translateZ(0);
    z-index: 50;
  }
}

@keyframes grow_height {
  0% {
    max-height: 0%;
  }
  100% {
    max-height: 50%;
  }
}

@keyframes shrink_height {
  0% {
    max-height: 50%;
  }
  100% {
    max-height: 0%;
  }
}

@keyframes pop_up_test {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}