@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'mukta', arial;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.horizontal-slider {
  top: 5px;
  width: 61.5%;
  height: 50px;

}

.horizontal-slider .example-track {
  top: .4rem;;
  height: .7rem;
  background-color: rgb(221, 221, 221);
  border-radius: 10rem;
}

.example-track.example-track-1 {
  background: #00CC69;
}

.horizontal-slider .example-thumb {
  width: 1.5rem;
  height: 1.5rem;
  line-height: 32px;
  border-radius: 100%;
  font-size: 0.9em;
  text-align: center;
  background-color: #00CC69;
  color: white;
  cursor: pointer;
  box-sizing: border-box;
}

.min-max-inputs::-webkit-inner-spin-button,
.min-max-inputs::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@layer utilities {
  .py-auto {
    padding-top: auto;
    padding-bottom: auto;
  }
}

.border-triangulo-cima{
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 20px 20px 20px;
  border-color: transparent transparent #f8f8f8 transparent;
}

.menuSuperior {
  background-color: white;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 5px 10px;
  max-height: 54.78px;
  width: 100%;
  max-width: 400px;
  margin: 40px;
  margin-left: 114.5px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
}

.menuSuperior input[type="text"] {
  flex: 1;
  min-width: 388px;
  border: none;
  padding: 5px;
  outline: none;
}

.menuSuperior .imgLupa {
  transform: scale(0.06);
  margin-left: -227px;
  margin-right: -143px;
}

.dropdownCategoria{
  background-color: white;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 5px 10px;
  height: 54.78px;
  min-width: 240px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  margin-left: 25px;
}

.dropdownFiltro {
  background-color: white;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 5px 10px;
  height: 54.78px;
  min-width: 240px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  margin-left: 25px;
}

.breadCrumbs {
  margin-left: 115px;
  font-size: 24px;
}

.breadcrumbAnterior {
  color: #808080;
}

.breadcrumbAtual {
  font-weight: bolder;
  color: #008042;
}

.dropdownOrdem {
  background-color: white;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 5px 10px;
  height: 54.78px;
  min-width: 158.3px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  margin-left: 25px;
}